@import url(https://fonts.bunny.net/css?family=abeezee:400,400i);

:root {
    font-family: abeezee;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#content {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#title {
    font-size: 4rem;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#menu > button {
    width: 18rem;
    height: 2rem;
    font-size: 1.5rem;
}

button {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: #542E71;
    color: white;
}

button:hover,
.active {
    border: 1px solid white;
    background-color: #6A66A3;
    color: black;
}

#player-choice {
    display: flex;
    width: 18rem;
    justify-content: space-between;
    align-content: space-between;
}

#player-choice > p {
    margin: 0;
    font-size: 2rem;
}

.choice-btn {
    width: 7rem;
    height: 2rem;
    font-weight: 900;
    font-size: 1rem;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

footer {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dropdown {
    position: relative;
    list-style: none;
    top: 0;
    padding-left: 0%;
    margin-top: 0%;
}

.dropdown > li {
    cursor: pointer;
    border: 1px solid lightgray;
    height: 1.5rem;
    font-weight: 500;
}

.dropdown > li:hover {
    background-color: #542E71;
    color: white;
}

.hidden {
    display: none;
}
