@import url(https://fonts.bunny.net/css?family=abeezee:400,400i);

:root {
    font-family: abeezee;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#content {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#title {
    font-size: 4rem;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#menu > button {
    width: 18rem;
    height: 2rem;
    font-size: 1.5rem;
}

button {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: #542E71;
    color: white;
}

button:hover,
.active {
    border: 1px solid white;
    background-color: #6A66A3;
    color: black;
}

#player-choice {
    display: flex;
    width: 18rem;
    justify-content: space-between;
    align-content: space-between;
}

#player-choice > p {
    margin: 0;
    font-size: 2rem;
}

.choice-btn {
    width: 18rem;
    height: 2rem;
    font-weight: 900;
    font-size: 1rem;
}

.choice {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

footer {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#dropdown-wrapper {
    display: flex;
    position: relative;
    width: 90%;
}

.dropdown {
    width: 100%;
    position: absolute;
    list-style: none;
    top: 0;
    padding-left: 0%;
    z-index: 1;
    margin: 0;
}

.dropdown > li {
    cursor: pointer;
    border: 1px solid lightgray;
    height: 1.5rem;
    font-weight: 500;
}

.dropdown > li:hover {
    background-color: #542E71;
    color: white;
}

.hidden {
    display: none;
}

#container {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: 1px solid black;
}

#container > div {
    border: 1px solid black;
}

#board {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 9 / 9;
}

#sidebar {
    grid-area: 1 / 9 / 9 / 13;
}

#message-log {
    grid-area: 9 / 1 / 13 / 13;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

#message-log > div {
    border: 1px solid black;
}

#turn-display {
    flex: 1 1 0;
    font-size: 2rem;
    display: flex;
    padding-left: 1rem;
    align-items: center;
}

#message-box {
    flex: 3 1 0;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    justify-items: flex-start;
    font-size: 1.25rem;
}

.row {
    display: flex;
    flex: 1 1 0;
}

.cell {
    flex: 1 1 0;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cell.active:hover {
    background-color: red;
}
